// Colors
$purple: hsl(242, 35%, 16%);
$pink: hsl(344, 86%, 60%);
$green: hsl(157, 51%, 49%);
$grayishBlue: hsl(220, 17%, 31%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(225, 33%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
// root = 1rem = 16px
$font-xsm: 0.813rem; // 13px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.625rem; //26 px
$font-xlg: 2rem; //32px
